.feedback {

  &__title {
  font-size: 6rem;
  line-height: 4.8rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 8.3rem;
  }

  &__author {
    display: block;
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: bold;
    position: relative;
    text-align: right;
    padding-right: 6.7rem;
    letter-spacing: -0.09rem;

    &:after {
      content: '';
      position: absolute;
      background-color: $black;
      height: 0.2rem;
      width: 5.5rem;
      top: 5.25rem;
      right: 6.85rem;
    }
  }

  &__position {
    display: block;
    font-size: 1.8rem;
    margin-top: 1.2rem;
    line-height: 4.8rem;
    text-align: right;
    padding-right: 6.7rem;
    letter-spacing: -0.02rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-top: 0.65rem;
    padding-right: 6rem;
    letter-spacing: -0.02rem;
  }

  &__img {
    &-preview {
      margin-top: 7.2rem;
    }
  }

  &__items-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
