@keyframes fade-top {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
    }
  }

@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    transform: scale(0.90);
  }

  60% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
