//? set your brand colors

$black: #000000;
$gray-dark: #656565;
$gray: #989898;
$gray-light: #e5e5e5;
$white: #ffffff;


$blue: #2c638f;

//? override for project clarity

$color-primary: #ffe1bd;
$color-secondary: #ffcb93;
