.form {
  animation: fade ease-in-out 4s;

  &__label {
    color: $white;
    font-size: 1.8rem;
    font-weight: 200;
    position: absolute;
    bottom: 1.5rem;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) all;
    line-height: 1.8rem;
    cursor: text;
    user-select: none;
    display: none;
  }

  &__fields {
    &-group {
      position: relative;
      width: 82%;
      margin-bottom: 4rem;
    }
  }



  &__input {
    background-color: transparent;
    color: $white;
    border: none;
    border-bottom: 0.01rem solid $white;
    font-size: 1.8rem;
    width: 100%;
    display: block;
    resize: none;
    height: 4.5rem;
    vertical-align: middle;
    transition: all 2s;

    // &:not([value=""]):not(:focus):invalid {
    //   background-color: tomato;
    // }

    &:focus {
      outline: none;
      ~.form__label {
        transform: scale(.85) translate(-3px, -35px);
        transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) all;
      }
    }

    // &:valid {
    //   outline: none;
    //   ~.form__label {
    //     transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) all;
    //     transform: scale(.85) translate(-3px, -35px);
    //   }
    // }

    &--comment {
      padding-top: 1.35rem;
    }
  }

  &__btn {
    margin-top: 2rem;
    width: 17.1rem;
    border: none;
    transition: background-color ease .3s;
    &:hover {
      background-color: $color-secondary;
      border: none;
    }
  }

  // &__label-comment {
    // position: absolute;
    // bottom: 90%;
    // display: block;
    // width: 100%;
    // transform: translateY(-50%);
    // line-height: 1;
    // cursor: text;
    // transition: transform ease .3s;
    // transform-origin: 0 0;
    // &:focus {
    //   .form__label-comment {
    //     transform: translateY(-220%) scale(.82);
    //   }
    // }
  // }
}
