.header {
  padding-bottom: 6rem;
  background-color: $white;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;


  &__nav {
    margin-top: 6.5rem;
    margin-left: auto;
    display: block;
  }

  &__logo {
    animation: fade ease-out 1.3s;
    padding-top: 6.35rem;
  }
}

.fixed {
  position: fixed;
  padding-bottom: 5rem;
  top: -2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  animation: fade-top ease 0.3s;
}

.fixed + .content {
  margin-top: 16rem;
}
