.services {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 9.8rem;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {

    &-wrapper {
    animation: fade-right ease-in-out 0.8s;
    }

    &--even {
      animation: fade-left ease-in-out 0.8s;
    }
  }

  &__description {
    animation: fade-left ease-in-out 1s;
    padding-left: 6.8rem;

    &--even {
      animation: fade-right ease-in-out 0.8s;
      padding-left: 0;
      padding-right: 11rem;
    }
  }

  &__title {
    text-align: center;
    font-size: 6rem;
    line-height: 4.8rem;
    font-weight: 100;
    animation: fade-top ease-in-out 1s;
  }

  &__name {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.05rem;
    line-height: 1.1rem;
    position: relative;
    margin-bottom: 3.1rem;

    &--bold {
      font-size: 4.7rem;
      font-weight: bold;
      line-height: 7.5rem;
      letter-spacing: 0.3px;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: $black;
      height: 0.2rem;
      left: 0;
      top: 9.3rem;
      width: 5.7rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    letter-spacing: 0.02rem;
    line-height: 2.7rem;
    margin-top: 2.7rem;
    font-weight: 100;
  }

  &__link {
    animation: fade-top ease-in-out 1s;
    margin-top: 4.2rem;
  }
}
