.services {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 9.8rem;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    transition: transform ease .2s;

    &:hover {
      transform: scale(0.99);
    }

    &-wrapper {
    animation: fade-right ease-in-out 0.8s;
    position: relative;
    height: 56rem;
    }

    &--even {
      animation: fade-left ease-in-out 0.8s;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__description {
    animation: fade-left ease-in-out 1s;
    padding-left: 8.5rem;

    &--even {
      animation: fade-right ease-in-out 0.8s;
      padding-left: 0;
      padding-right: 9rem;
    }
  }

  &__title {
    text-align: center;
    font-size: 6rem;
    line-height: 4.8rem;
    font-weight: 100;
    animation: fade-top ease-in-out 1s;
  }

  &__name {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.05rem;
    line-height: 1.1rem;
    position: relative;
    margin-bottom: 3.1rem;
    transition: color .3s;

    &:hover {
      color: $color-primary;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: $black;
      height: 0.2rem;
      left: 0;
      top: 9.3rem;
      width: 5.7rem;
    }

    &--bold {
      font-size: 4.7rem;
      font-weight: bold;
      line-height: 7.5rem;
      letter-spacing: 0.3px;
      transition: color .3s;
      &:hover {
        color: $color-primary;
      }
    }

    &-link {
      color: $black;
      display: inline-block;

      &:focus {
        outline: none;
      }
    }
  }

  &__text {
    font-size: 1.8rem;
    letter-spacing: 0.02rem;
    line-height: 2.7rem;
    margin-bottom: 2.7rem;
    font-weight: 100;
  }

  &__link {

    &:focus {
      outline: none;
    }

    &-btn {
      animation: fade-top ease-in-out 1s;
      margin-top: 1.7rem;
    }
  }
}
