.content {
  margin-top: 1rem;

  &__banner {
    margin-bottom: -11.7rem;
  }

  &__services {
    padding-top: 20.2rem;
    margin-bottom: -13.5rem;
  }

  &__work {
    padding-top: 20.2rem;
  }

  &__team {
    padding-top: 20rem;
    padding-bottom: 6.5rem;
    margin-bottom: -11.5rem;
  }

  &__feedback {
    padding-top: 20rem;
    padding-bottom: 10rem;
  }

  &__contacts {
    padding-top: 8.5rem;
    padding-bottom: 10rem;
  }

  &__footer {
    padding: 3.9rem 0;
  }
}
