//! import google fonts
// @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');
// OR use @font-face like below

//! import a custom font below
/* --- Example --- */
// @font-face {
//   font-family: 'Libre-Baskerville-Reg';
//   font-display: fallback;
//   font-weight: normal;
//   font-style: normal;
//   src:
//     local('Libre Baskerville'), /* Checks if font is on users computer */
//     local('LibreBaskerville-Regular'), /* Checks if font is on users computer */
//     url('fonts/libre-baskerville-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('fonts/libre-baskerville-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-hairline-webfont.woff2') format('woff2'),
    url('fonts/montserrat-hairline-webfont.woff') format('woff'),
    url('fonts/montserrat-hairline-webfont.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('fonts/montserrat-light-webfont.woff') format('woff'),
    url('fonts/montserrat-light-webfont.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('fonts/montserrat-regular-webfont.woff') format('woff'),
    url('fonts/montserrat-regular-webfont.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('fonts/montserrat-bold-webfont.woff') format('woff'),
    url('fonts/montserrat-bold-webfont.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

//! set font variables
$base-font: 'Montserrat', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';


html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-family: $base-font;
  font-size: 1.6rem;
  font-weight: 400;
  color: $black;
}
